/*Removes underline from headings of the dropdown sections inside the accordion*/
.noUnderline {
    text-decoration: none !important;
    }
    /*Changes colour of the headings within the accordion and also changes them on hover to show they are clickable*/
	.text-black {
		color: black;
	}
	.text-bold {
		color: black;
		font-weight: bold;
	}
	/*Styles the border of the body of the block*/
    /*retain for backward compatibility*/
	.cardBodyBorder {
    	border: solid 1px #006dae !important;
    }
	/*retain for backward compatibility*/
    .headingStyle {
		background-color: #006dae !important;
		cursor: pointer !important;
		border: solid 1px #006dae !important;
    }
    .headingStyle:hover {//retain for backward compatibility
		background-color: #3d90c2 !important;
		cursor: pointer !important;
		border: solid 1px #3d90c2 !important;
    }
	.heading-mu {
		background-color: #006dae !important;
		cursor: pointer !important; 		
		border: solid 1px #006dae !important;
	}
	.heading-mu:hover{
		background-color: #3d90c2 !important;
		cursor: pointer !important; 
		border: solid 1px #3d90c2 !important;
	}
	.cardborder-mu {
		border: solid 1px #006dae !important;
	}
	.heading-pm {
		background-color: #6f64a9 !important;
		cursor: pointer !important; 
		border: solid 1px #6f64a9 !important;
	}
	.heading-pm:hover{
		background-color: #8676d8 !important;
		cursor: pointer !important; 
		border: solid 1px #8676D8 !important;
	}
	.cardborder-pm {
		border: solid 1px #53488a !important;
	}
	.heading-sc {
		background-color: #505050 !important;
		cursor: pointer !important; 
		border: solid 1px #505050 !important;
	}
	.heading-sc:hover{
		background-color: #7c7c7c !important;
		cursor: pointer !important; 
		border: solid 1px #7c7c7c !important;
	}
	.cardborder-sc {
		border: solid 1px #474747 !important;
	}
	.heading-dk {
		background-color: #212529 !important; 
		cursor: pointer !important; 
		border: solid 1px #212529 !important;
	}
	.heading-dk:hover span{
		color: black !important;
	}
	.heading-dk:hover{
		background-color: #b9bbbe !important;
		cursor: pointer !important; 
		border: solid 1px #212529 !important;
	}
	.cardborder-dk {
		border: solid 1px #212529 !important;
	}
	.heading-bold {
		cursor: pointer !important; 
		border: solid 1px !important;
	}
	.cardborder-bold {
		border: solid 1px !important;
	}
    .heading-plain {
		cursor: pointer !important; 
	}
	.cardborder-plain {
	}
    /*Ensures the last element inside the accordion does not have a huge margin at the bottom of it to save space*/
    .accDiv p:last-child, .accDiv ul:last-child, .accDiv ol:last-child {
    margin-bottom: 0px;
    }