/*Removes underline from headings of the dropdown sections inside the accordion*/
.noUnderline {
    text-decoration: none !important;
    }
    /*Changes colour of the headings within the accordion and also changes them on hover to show they are clickable*/
    .headingStyle {
    background: #006dae !important; 
    color: #fff !important; 
    cursor: pointer !important; 
    border: solid 1px #006dae !important;
    }
    .headingStyle:hover {
    background-color: #3d90c2 !important;
    cursor: pointer !important;
    border: solid 1px #3d90c2 !important;
    }
    
    /*Styles the border of the body of the block*/
    .cardBodyBorder {
    border-left: solid 2px #006dae; 
    border-right: solid 2px #006dae;
    border: solid 1px #006dae !important;
    }
    
    /*Ensures the last element inside the accordion does not have a huge margin at the bottom of it to save space*/
    .accDiv p:last-child, .accDiv ul:last-child, .accDiv ol:last-child {
    margin-bottom: 0px;
    }