/* New Beest colours to align to Monash branding */
.btn-mu-red{color:#fff;background-color:#df0021;border-color:#df0021;}
.btn-mu-orange{color:#fff;background-color:#c33603;border-color:#c33603;}
.btn-mu-green{color:#fff;background-color:#006f29;border-color:#006f29;}
.btn-mu-purple{color:#fff;background-color:#6f64a9;border-color:#6f64a9;}
.btn-mu-fuchsia{color:#fff;background-color:#c90095;border-color:#c90095;}
.btn-mu-grey{color:#fff;background-color:#505050;border-color:#505050;}