.darkTabs .nav-link:hover {
    background: #212529 !important;
    color: white !important;
  }
  .darkTabs .nav-link.active {
    background: #212529 !important;
    color: white !important;
  }
  .darkTabs .nav-link {
  color: #212529 !important;
  }
  
.border-dark{
    border: 1px solid #212529;
}
.border-dark-3{
    border: 3px solid #212529;
}


.skyTabs .nav-link:hover {
    background: #B8DAFF !important;
    color: black !important;
  }
  .skyTabs .nav-link.active {
    background: #9FCDFF !important;
    color: black !important;
  }
  .skyTabs .nav-link {
  color: #9FCDFF !important;
  }
.border-sky{
    border: 1px solid #9FCDFF;
}
.border-sky-3{
    border: 3px solid #9FCDFF;
}


.greyTabs .nav-link:hover {
    background: #D6D8DB !important;
    color: black !important;
  }
  .greyTabs .nav-link.active {
    background: #C8CBCF !important;
    color: black !important;
  }
  .greyTabs .nav-link {
  color: #C8CBCF !important;
  }

.border-grey{
    border: 1px solid #C8CBCF;
}
.border-grey-3{
    border: 3px solid #C8CBCF;
}

.monTabs .nav-link:hover {
    background: #006dae !important;
    color: white !important;
  }
  .monTabs .nav-link.active {
    background: #006dae !important;
    color: white !important;
  }
  .monTabs .nav-link {
  color: #006dae !important;
  }
  .tab-content p:last-of-type {
  margin-bottom: 0px !important;
  }
  
.border-mon{
    border: 1px solid #006dae;
}
.border-mon-3{
    border: 3px solid #006dae;
}

  .size1{
	  font-size:16px;
  }
  .size2{
	  font-size:20px;
  }
  .size3{
	  font-size:24px;
  }
  .size4{
	  font-size:28px;
  }