<!DOCTYPE html>
<!--
==========================================
 Title:       Image Page
 Creator:     @mattchen
 Last Update: 3 Oct 2020
==========================================
-->
<html ng-app="driveApp">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simple element creator to generate responsive code that can be easily embbedded into Moodle">
    <meta name="author" content="T&M">
    <title>BEEST Image</title>
     <link rel="icon" href="img/black favicon-16x16.png" type="image/gif">
    <!-- external link to css file --> 
    <!-- Bootstrap CSS -->   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Arts CSS -->  
    <link rel="stylesheet" href="css/adminPlusSetuBlockStyle.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/monashElements.css" />
    <!-- external link to js file -->  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="  https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Bootstrap js file --> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- FontAwesome js file [self hosted on beest server]--> 
    <script defer src="https://beest.monash.edu/fa_dl/js/all.js"></script>
    <!-- Tinymce js file -->   
    <script src="https://beest.monash.edu/tinymce/tinymce.min.js"></script>
    <script src="js/advancedModeLocalStorage.js"></script>
    <!-- TinyMCE placeholder plugin file -->
    <script src="js/placeholder.js"></script> 
	<script src="js/helperFunctions.js"></script>
	<script src="js/setupPage.js"></script>
	<script src="js/pageHistory.js"></script>
<script>
const START_ELEMENT = "<!--Begin BEEST image-->"
const END_ELEMENT = "<!--End BEEST image-->"

var iconNames = {
	"1":"image",
	"2":"play",
	"3":"eye" ,
	"4":"camera"
}

/*REQUIRED FOR HISTORY*/   
const IMAGE_HIST = "history_image"
var localStorageHistory = IMAGE_HIST
var classImage = null
/*END REQUIRED FOR HISTORY*/   
$(document).ready(function(){
	setupGoogleAnalytics()
/*REQUIRED FOR HISTORY*/   
	initHistory()
/*END REQUIRED FOR HISTORY*/   				
	default_XRadio_onEmpty_Y("respImgHeading","headSize","noH","headSize1",generateCode)
	setupToolTips(10000)
	setupNav()
	fullScreenToggle()
	$('#respImgSwitch').on('input', replaceLinkWithEmbed);
	makeTinyWithID('tinyMCEimage',{'change':generateCode},'[Placeholder for image context. The content you entered in step 2 will appear here.]')
	classImage = new beestImage()
	generateCode()
})
/*REQUIRED FOR HISTORY*/   
	
class beestImage{
	constructor(link,context,position,width,heading,size,icon,alt){
		this.link = link
		this.context = context
		this.position = position
		this.width = width
		this.heading = heading
		this.size = size
		this.icon = icon
        this.alt = alt
	}
	toPDO(){
			var obj = {}
			for (var prop in this){
				if (typeof(this[prop])!="function"){
					obj[prop] = this[prop]
				}
			}
			obj.mainHead = this.heading
			return obj
		}
	toJSON(){return this.toPDO()}
	fromObj(PDO){
		for (var prop in PDO){
			if (this.hasOwnProperty(prop)){
				this[prop] = PDO[prop]
			}
		}
	}
}
function getHistoryI(index,history){
	if (history.length>0){
		var selectedItem = history[index]
		classImage = new beestImage()
		classImage.fromObj(selectedItem)
		refToClassButton = classImage
		setTextAreas(refToClassButton)
		generateCode()
	}
}
function setTextAreas(classData){
	txtAreaVals = {
		'respImgSwitch': {type:'basic',value:classData.link},
		'tinyMCEimage': {type:'tiny',value:classData.context},
		'respImgHeading': {type:'basic',value:classData.heading},
		'imagePosition': {type:'radio',value:classData.position},
		'imageWidth': {type:'radio',value:classData.width},
		'headSize': {type:'radio',value:classData.size},
		'faCode': {type:'radio',value:classData.icon},
        'respImgAlt': {type:'basic',value:classData.alt}
	}
	setTextAreas_util(txtAreaVals)
}

/*END REQUIRED FOR HISTORY*/
    window.gapiCallbacks=[];

    function gapiLoaded(){
      gapi.auth.init(function() {
        gapi.client.load('drive', 'v2').then(function () {
          var GapiQueue = function () {
            this.push = function (callback) {
              setTimeout(callback, 0);
            };
          };

          var _old_gapiCallbacks = window.gapiCallbacks;

          window.gapiCallbacks = new GapiQueue();

          _old_gapiCallbacks.forEach(function (callback) {
            window.gapiCallbacks.push(callback);
          });
        },function(reason){
          console.err(reason);
        });
      });
    }

    // The Browser API key obtained from the Google API Console.
    var developerKey = 'AIzaSyDc_XZvzDg7_zvLL_yZXG-hoa_2QA6MU6E';

    // The Client ID obtained from the Google API Console.
    var clientId = "97361103722-bs8u1e0lp7rnati4703leav6b4nknhg7.apps.googleusercontent.com"

    // See "Project number" under "IAM & Admin" > "Settings"
    var appId = "97361103722";

    // Scope to use to access user's Drive items.
    var scope = ['https://www.googleapis.com/auth/drive.file'];

    var pickerApiLoaded = false;
    var oauthToken;

    // Use the Google API Loader script to load the google.picker script.
    function loadPicker() {
      gapi.load('auth', {'callback': onAuthApiLoad});
      gapi.load('picker', {'callback': onPickerApiLoad});
    }
    
    // Load API key
    function onAuthApiLoad() {
      window.gapi.auth.authorize(
          {
            'client_id': clientId,
            'scope': scope,
            'immediate': false
          },
          handleAuthResult);
    }
    
    //Load Google Drive Picker
    function onPickerApiLoad() {
      pickerApiLoaded = true;
      createPicker();
    }

    function handleAuthResult(authResult) {
      if (authResult && !authResult.error) {
        oauthToken = authResult.access_token;
        createPicker();
      }
    }

    // Create and render a Picker object for searching images.
    function createPicker() {
      if (pickerApiLoaded && oauthToken) {
        var view = new google.picker.View(google.picker.ViewId.DOCS);
        view.setMimeTypes("image/png,image/jpeg,image/jpg");
        var picker = new google.picker.PickerBuilder()
            .enableFeature(google.picker.Feature.NAV_HIDDEN)
            .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
            .setAppId(appId)
            .setOAuthToken(oauthToken)
            .addView(view)
            .addView(new google.picker.DocsUploadView())
            .setDeveloperKey(developerKey)
            .setCallback(pickerCallback)
            .build();
         picker.setVisible(true);
      }
    }

    var imageplaceholder ="https://drive.google.com/uc?id=1Tel_KpnwCcoRUMdMFyw-GJ-_MaqeaWYZ&export=download";
    var url;
    url = imageplaceholder;

    // A simple callback implementation.
    function pickerCallback(data) {
      if (data.action == google.picker.Action.PICKED) {
        var fileId = data.docs[0].id;
        url = 'https://drive.google.com/uc?id=' + fileId + '&amp;export=download';
		$('#respImgSwitch').val(url)

        generateCode();
      }
    }
    
    function writeinMoodle() {
      tinyMCE.get('#id_introeditor').setContent(textOutput);
    }

    function copyCode(){
      /*REQUIRED FOR HISTORY*/
	  addToHistory(classImage)
	  /*END REQUIRED FOR HISTORY*/
	  SelectAll("txtarearespImg");
    }

    var contextCode;

/**BEGIN generateCode helper functions**/
function getImageUrl(id,placeholder){
	var url;
	if (document.getElementById(id).value !== ""){
        url = document.getElementById(id).value;
	}
	else{
        url = placeholder;
	}
	return url
}

function createIconCode(faIcon){
	//icon names moved to top
	var iconName = iconNames[faIcon];
		var faIconCode = "<i class=\"fa fa-"+iconName+"\"></i> ";
	
	if (faIcon == "noI"){
		faIconCode = "";
	}  
		return faIconCode
}

function generateResizedHead(headSize,faIconCode,imgHeading){
	//Resizing the heading text
	hTag = "<"+headSize+">"
	hTagClose = "</"+headSize+">"
	resizedHead = ""
	if (headSize !== "noH"){
		resizedHead = hTag+faIconCode+imgHeading+hTagClose
	}
	return resizedHead
} 

function setColsForImgWidth(imgWidth,imgPosition){
//Change size of column if requested
	var firstCol="<div class=\"col-lg\">"
	var secCol="<div class=\"col-lg mt-2\">"
	if (imgWidth != "50"){
		widthClass = {"50":"col-lg","33":"col-lg-4","25":"col-lg-3"}
		if (imgPosition == "left"){
			firstCol = firstCol.replace(widthClass["50"],widthClass[imgWidth])
		}
		else if (imgPosition == "right"){
			secCol = secCol.replace(widthClass["50"],widthClass[imgWidth])
		}
	}
	return {firstCol:firstCol,secCol:secCol}
}
function createColContents(imgPosition,contextCode,url,alt){
	var imgTagMake = function (src,alt){return '<img class="img-fluid" src="'+src+'" alt="'+alt+'">'}
	var leftColContent = ""
	var rightColContent = ""
	if (imgPosition == "left"){
		leftColContent = imgTagMake(url,alt)
		rightColContent = contextCode
	}
	else if (imgPosition == "right"){
		leftColContent = contextCode
		rightColContent = imgTagMake(url,alt)
	}
	return {left:leftColContent,right:rightColContent}
}
/**END generateCode helper functions**/

    /*Function to generate and copy code for the responsive image*/
function generateCode() {
        // Get the HTML contents of the currently active editor
	//console.debug(tinyMCE.activeEditor.getContent());
	var url = getImageUrl('respImgSwitch',imageplaceholder)

	contextCode = getTinyContent('tinyMCEimage',"[Placeholder for image context. The content you entered in step 2 will appear here.]")

	var imgHeading = $('#respImgHeading').val();
	var imgWidth = getRadioOption("imageWidth");
	var imgPosition = getRadioOption("imagePosition");
	var headSize = getRadioOption("headSize")
	var faIcon = getRadioOption("faCode")
    var imgAlt = $('#respImgAlt').val();

	classImage.link = url
	classImage.context = contextCode
	classImage.position = imgPosition
	classImage.width = imgWidth
	classImage.heading = imgHeading
	classImage.size = headSize
	classImage.icon = faIcon
    classImage.alt = imgAlt

	var rowOpen="<div class=\"row w-100\">"
	var closeCol="</div>"
	var closeRow="</div></div>"
	
	faIconCode = createIconCode(faIcon)
	var resizedHead = generateResizedHead(headSize,faIconCode,imgHeading);  
    
	var widthCols = setColsForImgWidth(imgWidth,imgPosition)
	var firstCol = widthCols.firstCol
	var secCol = widthCols.secCol
	
	var colContents = createColContents(imgPosition,contextCode,url,imgAlt)
	
	var textOutput = resizedHead+rowOpen+firstCol+colContents.left+closeCol+secCol+colContents.right+closeRow;

	 //Add the html code after the div
	var demoDiv = document.getElementById("demo");
	demoDiv.innerHTML = textOutput;
	$('#txtarearespImg').val(START_ELEMENT+textOutput+END_ELEMENT)
}

function recoverCode(){
	classImage = new beestImage()

	var pastedHTML = $("#retrieveCode").val()

	var iconHeading = getIconAndHeading(pastedHTML)
	var iconClassName = iconHeading.iconName
	var headSize = iconHeading.headSize
	var imgHeading = iconHeading.headText

	
	classImage.heading = imgHeading
	classImage.size = headSize
	if (iconClassName == null){
		classImage.icon = "noI"
	}
	else{
		var iconNums = reverseObjectMap(iconNames)
		classImage.icon = iconNums[iconClassName]
	}
	var dataToFind = {
		tags:['img','p']
	}
	var recoveredData = recoverFromPasted(pastedHTML,dataToFind)
	
	classImage.context = recoveredData.tags.p.text()
	
	var imgJQ = recoveredData.tags.img
	classImage.link = imgJQ[0].src

    classImage.alt = imgJQ[0].alt;
	
	if (imgJQ.parent().hasClass("mt-2")){
		classImage.position = "right"
	}
	else{
		classImage.position = "left"
	}
	
	
	if (imgJQ.parent().hasClass("col-lg-3")){
		classImage.width = "25"
	}
	else if (imgJQ.parent().hasClass("col-lg-4")){
		classImage.width = "33"
	}
	else{
		classImage.width = "50"
	}
	
	setTextAreas(classImage)

	generateCode()
}


//Function to select all of the html in the final textarea and copy it at the same time
function SelectAll(id){
	document.getElementById(id).focus();
	document.getElementById(id).select();
	document.execCommand("copy");
	var popup = document.getElementById("myPopup");
	popup.classList.toggle("showPopup");
}
 

function submitform()
{
	document.forms["myform"].submit();
}
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
//Function to replace image links (plain URLs) with the embed version of the link.
var displayingError = false
function replaceLinkWithEmbed(event){
	var imgString = $('#respImgSwitch').val().toString();
	var imgLink = "";
	var imgTypeReplace = [
		{	include:"unsplash.com",
			replace:'https://unsplash.com/photos',
			repWith:'https://source.unsplash.com',
			replace2:'',
			repWith2:'',
			append: ''},
		{	include:"pexels.com",
			replace:'https://www.pexels.com/photo/',
			repWith:'',
			replace2:'/',
			repWith2:'',
			doExtraOp: true,
			extraOp: function(strIn){
				var pexelsid = strIn.match(/\d+/)[0];
				return "https://images.pexels.com/photos/" + pexelsid + "/pexels-photo-" + pexelsid;
			},
			append: ".jpeg" },
		{	include:"stocksnap.io",
			replace:'https://stocksnap.io/photo/',
			repWith:'https://cdn.stocksnap.io/img-thumbs/960w/',
			replace2:/-([^-]*)$/,
			repWith2:'_$1',
			append: ".jpg"},
		{	include:"drive.google.com",
		//https://drive.google.com/file/d/1PK5CMX2QliGRHlionI2pZBlQMzpznOcF/view?usp=sharing
			replace:'/file/d/',
			repWith:'/uc?id=',
			replace2:'/view?usp=sharing',
			repWith2:'&export=download',
			append: ""}
	]
	ifAny = false
	for(var imgI=0;imgI<imgTypeReplace.length;imgI++){
		item = imgTypeReplace[imgI]
		if (imgString.includes(item.include)){
			imgLink = imgString.replace(item.replace,item.repWith).replace(item.replace2,item.repWith2)
			if (item.doExtraOp){
				imgLink = item.extraOp(imgLink)
			}
			imgLink += item.append
			ifAny = true
		}
	}
	if (!ifAny){
		if (!(displayingError)){
			var errorDuration = 3000
			showErrorMsg('imageLinkError','Invalid url, please paste in a link to an Unsplash/ Pexel/Stocksnap or google drive image',errorDuration,function(){displayingError=false})
			displayingError = true
		}
	}
	else{
		$('#respImgSwitch').val(imgLink)
	}
}

  </script>
  <!-- Load the Google API Loader script. -->
  <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

  <script src="js/drive-controller.js"></script>
  <script src="js/gapi-auth-service.js"></script>
  <script src="js/drive-service.js"></script>
  <style>
    /*hide the warning that the tinyMCE editor is not setup correctly.*/
    .mce-notification-inner, .mce-close, .mce-notification-warning {
    display:none !important;
    }
     /*size of the tooltips on the page.*/
    .tooltip-inner {
      text-align: left;
      padding: 15px;
      font-size: 1.05rem;
      max-width: 480px;
    }
     /*ensure that when a nav link is hovered on the background colour goes darker.*/
    .nav-item:hover {
  background: #004dae;
}
    </style> 
</head>
<body>
<div id="beestNav">
</div>
  <div class="py-5"></div>
<div class="container-fluid">
<h3 class="text-center font-weight-bold">Responsive image + context<span data-toggle="tooltip" data-placement="bottom" data-trigger="hover focus" title="Upload an image from one of the listed platforms and input some context or text around the image. Then choose the size of the image, and which side of the screen you would like it on." class="hideableinstruct text-success small">&nbsp;<i class="fa fa-question-circle"></i></h3>
<h5 class="text-center"><a class="hideableinstruct" data-toggle="modal" data-target=".respImgWalkthrough" href="">Create a responsive image & context walkthrough</a></h5>
<!--Start of modal content-->
<!--Responsive image walkthrough modal-->
<div class="modal fade respImgWalkthrough" tabindex="-1" role="dialog" aria-labelledby="panopto-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-2 bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">Click close or click outside this box to return to the BEEST.</h5>
          <button type="button" class="btn btn-outline-light btn-lg ml-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">Close &times;</span>
          </button>
      </div>
      <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" frameborder="0" allowfullscreen="allowfullscreen" src="https://monash.au.panopto.com/Panopto/Pages/Embed.aspx?id=cef099bc-a7e9-4211-be3c-ac3e005c0924"></iframe></div>
    </div>
  </div>
</div>
<!--How to paste HTML into Moodle modal-->
<div class="modal fade html-paste-modal mt-5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-2 bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white">Click close or click outside this box to return to the BEEST.</h5>
        <button type="button" class="btn btn-outline-light btn-lg ml-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">Close &times;</span>
        </button>
      </div>
    <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" frameborder="0" allowfullscreen="allowfullscreen" src="https://monash.au.panopto.com/Panopto/Pages/Embed.aspx?id=d1c0ffaa-23a4-4d38-bb49-abda00b7805a"></iframe>
    </div>
    </div>
  </div>
</div>
<!--End of modal content for this page-->
<div class="row w-50 mx-auto text-center mt-2">
  <div class="col-lg mt-2">
        <a data-toggle="tooltip" data-placement="bottom" data-trigger="hover focus" title="Click this button to clear the page and start again." href="javascript:window.location.reload()" class="btn btn-danger btn-lg btn-block" role="button">Clear the page <i class="fa fa-fw fa-refresh"></i></a>
      </div>
      <div class="col-lg mt-2">
        <button id="toggleHelp" data-toggle="tooltip" data-placement="bottom" data-trigger="hover focus click" title="Click this button to toggle the help instructions on the page on/off. Only do this if you are completely familiar with how to use the page" onclick="flipTooltip()" class="btn btn-success btn-lg btn-block">Turn <span class="onoffswapinstr">off</span> help <i class="fa fa-fw fa-power-off"></i></a>
      </div></div>
        <!--<ul>
          <li><a data-toggle="modal" data-target=".unsplash-modal" href="">Unsplash</a>
            <div class="modal fade unsplash-modal" tabindex="-1" role="dialog" aria-labelledby="panopto-modal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content p-2">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">To close this window click the button on the right or anywhere outside this box.</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" frameborder="0" allowfullscreen="allowfullscreen" src="https://monash.au.panopto.com/Panopto/Pages/Embed.aspx?id=b84fa926-7531-4321-8f0b-ac2c0000d69d"></iframe></div>
              </div>
            </div>
          </div></li>
          <li><a data-toggle="modal" data-target=".pexels-modal" href="">Pexels</a>
            <div class="modal fade pexels-modal" tabindex="-1" role="dialog" aria-labelledby="youtube-modal" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content p-2">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">To close this window click the button on the right or anywhere outside this box.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" frameborder="0" allowfullscreen="allowfullscreen" src="https://monash.au.panopto.com/Panopto/Pages/Embed.aspx?id=98282461-8b14-48fb-a4d2-ac2c0000d672"></iframe></div>
                </div>
              </div>
            </div></li>
          <li><a data-toggle="modal" data-target=".stocksnap-modal" href="">StockSnap</a>
            <div class="modal fade stocksnap-modal" tabindex="-1" role="dialog" aria-labelledby="ted-modal" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content p-2">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">To close this window click the button on the right or anywhere outside this box.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" frameborder="0" allowfullscreen="allowfullscreen" src="https://monash.au.panopto.com/Panopto/Pages/Embed.aspx?id=d27cc54b-dd5e-4436-b862-ac2c0000d623"></iframe></div>
                </div>
              </div>
            </div></li>
        </ul>-->
        <hr class="hr-3">
<form id="respImg">   
   <div class="row w-100 mx-auto">
    <div class="col-lg-6 mt-2">
	<div class="row w-100 mx-auto">
        <div class="col-lg-3"> 
          <h5 class="font-weight-bold">Recover<span data-toggle="tooltip" data-placement="bottom" data-trigger="hover focus" title="Recover recently created items. This will only become operational once you have created at least one item. If you change browsers or clear your browser history, you will lose this history as well." class="hideableinstruct text-success small">&nbsp;<i class="fa fa-question-circle"></i></span></h5>
        </div>
        <div class="col-lg-8">
          <select class="custom-select border border-dark" size="1" id="recoveryDate" onchange="idSelectedRecData()">
            <option selected value=0>please wait</option>
            </select>
          </div>
          <div class="col-lg-1 text-center">
            <button id="delHist" onclick="delHistI()" type="button" class="btn btn-danger mr-2" data-toggle="tooltip" data-placement="bottom" data-trigger="hover focus" title="Delete the currently selected historical data."><i class="fa fa-fw fa-trash"></i></button>
            <button id="loadHist" onclick="getHistoryI(histIndex,historicalData)" class="btn btn-mu d-none">Recover <i class="fa fa-fw fa-undo"></i></button>
        </div>
      </div>
      <hr>
	  
	  <div class="row w-100 mx-auto">
              <div class="col-lg-3">
              <h5 class="font-weight-bold">Paste code from Moodle<span data-toggle="tooltip" data-placement="bottom" data-trigger="hover focus" title="Paste in the code you previously generated from BEEST and pasted into Moodle to recover and redesign the element." class="hideableinstruct text-success small">&nbsp;<i class="fa fa-question-circle"></i></span></h5>
              </div>
              <div class="col-lg">
              <textarea class="rounded p-2 w-100 mt-2" rows="2" name="retrieveCode" type="text" id="retrieveCode" placeholder="Or recover it by pasting existing code from Moodle" onchange=recoverCode()></textarea>
          </div>
        </div>
		
          <hr>
	  
    <div class="row w-100 mx-auto">
      <div class="col-lg-3">
        <h5 class="font-weight-bold">Link<span data-toggle="tooltip" data-placement="right" data-trigger="hover focus" title="Paste in the link/URL (not the embed code) for your image." class="small text-success hideableinstruct">&nbsp;<i class="fa fa-question-circle"></i></span></h5>
        </div>
        <div class="col-lg">
        <p>Find your image from <a href="https://unsplash.com" target="_blank">Unsplash</a> | <a href="https://www.pexels.com" target="_blank">Pexels</a> | <a href="https://stocksnap.io/" target="_blank">StockSnap</a></p>
        <!--<a data-toggle="modal" data-target=".panopto-modal" href="">search an image here</a>
            <div class="modal fade panopto-modal" tabindex="-1" role="dialog" aria-labelledby="panopto-modal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content p-2">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">To close this window click the button on the right or anywhere outside this box.</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" frameborder="0" allowfullscreen="allowfullscreen" src="https://monash.au.panopto.com/Panopto/Pages/Embed.aspx?id=b84fa926-7531-4321-8f0b-ac2c0000d69d"></iframe></div>
              </div>
            </div>
          </div>-->
          <textarea class="rounded p-2 w-100" rows="1" name="respImgSwitch" type="text" id="respImgSwitch" placeholder="Paste the Unsplash/Pexels/StockSnap image link here" onchange=generateCode()></textarea>
		  
		  <span id="imageLinkError"></span>
		  
       <!-- <p id="popup"><span class="popuptext" id="myPopup">Please paste a valid link from Unsplash/Pexels/StockSnap</span></p>-->
        
        
        <div ng-controller="driveController">        
          <!--<div ng-show="checkingLogin">Checking login status...</div>
          Login status:{{loggedIn}}
          <button ng-disabled="checkingLogin || loggedIn" ng-click="login()">Log In</button>-->
        
          <div ng-show="loggedIn">
            <input ng-disabled="uploading" ng-click="clickFileUpload()" type="button" class="btn btn-arts m-1" name="uploadImage" value="Upload image" >
            <!--<button ng-disabled="uploading" ng-click="clickFileUpload()">Upload image</button>-->
            <input type="button" class="btn btn-arts m-1" name="uploadImage" value="Choose Image from Google Drive" onclick="loadPicker()">
            <!--<button onclick="loadPicker()">Choose Image from Google Drive</button>-->
            <input type="file" id="uploadImage" accept="image/*" onchange="angular.element(this).scope().upload()" style="display:none;">
            <div ng-show="uploading">Uploading image to your Google Drive ...</div>    
            <!--<div ng-show="!images.length">No uploaded images yet</div>-->
            <div ng-repeat="image in images" style="max-width:800px;max-height:800px;">
              <img id ="img2" ng-src="{{image}}" style="max-width: 100%;max-height: 100%;">
            </div>
          </div>
        </div>
      </div>
      </div>
          <hr>
    <div class="row w-100 mx-auto">
      <div class="col-lg-3">
        <h5 class="font-weight-bold">Context<span class="small text-success hideableinstruct" data-toggle="tooltip" data-placement="right" data-trigger="hover focus" title="Giving the image some context helps users to understand what the image is trying to communicate. Or you can type text you would like to go alongside the image.">&nbsp;<i class="fa fa-question-circle"></i></span></h5>
       
      </div>
      <div class="col-lg">
            <textarea id="tinyMCEimage" class="border border-dark rounded p-2 w-100" cols="70" rows="3" name="respVid_context"></textarea>
    </div>
   </div>

      <!--<div class="col-lg-3">
        <h5 id="imagepreview" class="w-50" data-toggle="tooltip" data-placement="right" data-trigger="hover focus" style="display:none;">Image Preview</h5>
        <img id="img" src="" style="max-width:100%;max-height:100%;">
      </div>-->

<hr>
        <div class="row w-100 mx-auto">
            <div class="col-lg-3">
                <h5 class="font-weight-bold">Alt text<span class="small text-success hideableinstruct" data-toggle="tooltip" data-placement="right" data-trigger="hover focus" title="Type the alt text for this image. 50 character maximum.">&nbsp;<i class="fa fa-question-circle"></i></span></h5>
            </div>
            <div class="col-lg">
                <textarea maxlength="50" class="rounded p-2 w-100" rows="1" name="respVid_alt" type="text" id="respImgAlt" placeholder="Type your alt text here" onchange=generateCode()></textarea>
            </div>
        </div>


  <hr>
      <div class="row w-100 mx-auto">
        <div class="col-lg-3">
          <h5 class="font-weight-bold">Position<span class="small text-success hideableinstruct" data-toggle="tooltip" data-placement="right" data-trigger="hover focus" title="Choose which side of screen you would prefer the image to appear on.">&nbsp;<i class="fa fa-question-circle"></i></span></h5>
          
          </div>
          <div class="col-lg">
                <!--<select class="custom-select border border-dark" id="imagePosition" name="imagePosition" size="1" onchange=generateCode()>
                <option value="right" selected>Image on the right</option>
                <option value="left">Image on the left</option>
              </select>-->
              <div class="form-check form-check-inline" id="imagePosition" onchange=generateCode()>
                <input class="form-check-input" name="imagePosition" id="imagePosition2" type="radio" value="left">
                <label class="form-check-label" for="imagePosition2">Left</label>
              </div>
              <div class="form-check form-check-inline" id="imagePosition" onchange=generateCode()>
                <input class="form-check-input" name="imagePosition" id="imagePosition1" type="radio" value="right" checked>
                <label class="form-check-label" for="imagePosition1">Right</label>
              </div>
              </div> 
            </div> 
<hr>
            <div class="row w-100 mx-auto">
              <div class="col-lg-3">
                <h5 class="font-weight-bold">Image width<span class="small text-success hideableinstruct" data-toggle="tooltip" data-placement="right" data-trigger="hover focus" title="Choose whether you want the image to be 50% (1/2) of the screen width or 33.3% (1/3) of the screen width.">&nbsp;<i class="fa fa-question-circle"></i></span></h5>
                
              </div>
              <div class="col-lg">
                      <!--<select class="custom-select border border-dark" id="imageWidth" name="imageWidth" size="1" onchange=generateCode()>
                      <option value="50" selected>50% (1/2)</option>
                      <option value="33">33.3% (1/3)</option>
                      <option value="25">25% (1/4)</option>
                    </select>-->
                    <div class="form-check form-check-inline" id="imageWidth" onchange=generateCode()>
                      <input class="form-check-input" name="imageWidth" id="imageWidth1" type="radio" value="50" checked>
                      <label class="form-check-label" for="imageWidth1">50% (1/2)</label>
                    </div>
                    <div class="form-check form-check-inline" id="imageWidth" onchange=generateCode()>
                      <input class="form-check-input" name="imageWidth" id="imageWidth2" type="radio" value="33">
                      <label class="form-check-label" for="imageWidth2">33.3% (1/3)</label>
                    </div>
                    <div class="form-check form-check-inline" id="imageWidth" onchange=generateCode()>
                      <input class="form-check-input" name="imageWidth" id="imageWidth3" type="radio" value="25">
                      <label class="form-check-label" for="imageWidth3">25% (1/4)</label>
                    </div>
                    </div> 
                  </div> 
<hr>
            <div class="row w-100 mx-auto">
              <div class="col-lg-3">
                <h5 class="font-weight-bold">Heading<span class="small text-success hideableinstruct" data-toggle="tooltip" data-placement="right" data-trigger="hover focus" title="Type the heading for this image. 50 character maximum. If you want a heading, you must also complete step 5 or your heading will not display.">&nbsp;<i class="fa fa-question-circle"></i></span></h5>
                </div>
                <div class="col-lg">
                <textarea maxlength="50" class="rounded p-2 w-100" rows="1" name="respVid_heading" type="text" id="respImgHeading" placeholder="Type your image heading here" onchange=generateCode()></textarea>
              </div>
            </div>

<hr>
    <div class="row w-100 mx-auto">
    <div class="col-lg-3">
      <h5 class="font-weight-bold">Heading size<span class="small text-success hideableinstruct" data-toggle="tooltip" data-placement="right" data-trigger="hover focus" title="Choose the size of your heading. If you do not choose a heading size, your heading will not display.">&nbsp;<i class="fa fa-question-circle"></i></span></h5>
      
    </div>
    <div class="col-lg">
            <!--<select class="custom-select border border-dark" id="headSize" name="headSize" size="1" onchange=generateCode()>
            <option selected value="noH">No heading</option>
            <option selected value="h5">Small (heading 5)</option>
            <option value="h4">Medium (heading 4)</option>
            <option value="h3">Large (heading 3)</option>
          </select>-->
          <div class="form-check form-check-inline" id="headSize" onchange=generateCode()>
            <input class="form-check-input" name="headSize" id="headSizeNone" type="radio" value="noH" checked>
            <label class="form-check-label" for="headSizeNone">No heading</label>
          </div>
          <div class="form-check form-check-inline" id="headSize" onchange=generateCode()>
            <input class="form-check-input" name="headSize" id="headSize1" type="radio" value="h5">
            <label class="form-check-label" for="headSize1"><h5>Small</h5></label>
          </div>
          <div class="form-check form-check-inline" id="headSize" onchange=generateCode()>
            <input class="form-check-input" name="headSize" id="headSize2" type="radio" value="h4">
            <label class="form-check-label" for="headSize2"><h4>Medium</h4></label>
          </div>
          <div class="form-check form-check-inline" id="headSize" onchange=generateCode()>
            <input class="form-check-input" name="headSize" id="headSize3" type="radio" value="h3">
            <label class="form-check-label" for="headSize3"><h3>Large</h3></label>
          </div>
          </div> 
        </div>   
        <hr>
        <div class="row w-100 mx-auto">
          <div class="col-lg-3">
            <h5 class="font-weight-bold">Heading icon<span class="small text-success hideableinstruct" data-toggle="tooltip" data-placement="right" data-trigger="hover focus" title="Choose an icon to go with your heading. If you want an icon, you must also write a heading and choose a heading size or the icon and heading will not display.">&nbsp;<i class="fa fa-question-circle"></i></span></h5>
            
            </div>
            <div class="col-lg">
            <!--<select class="custom-select border border-dark" id="faCode" name="faCode" size="1" onchange=generateCode()>
              <option selected value="noI">No icon</option>
                <option value="1">Image</option>
                <option value="2">Play</option>
                <option value="3">Eye</option>
              </select>-->
              <div class="form-check form-check-inline" id="faCode" onchange=generateCode()>
                <input class="form-check-input" name="faCode" id="faCodeNone" type="radio" value="noI" checked>
                <label class="form-check-label" for="faCodeNone">No icon</label>
              </div>
              <div class="form-check form-check-inline" id="faCode" onchange=generateCode()>
                <input class="form-check-input" name="faCode" id="faCode1" type="radio" value="1">
                <label class="form-check-label" for="faCode1"><i class="fa fa-image fa-2x"></i></label>
              </div>
              <div class="form-check form-check-inline" id="faCode" onchange=generateCode()>
                <input class="form-check-input" name="faCode" id="faCode2" type="radio" value="2">
                <label class="form-check-label" for="faCode2"><i class="fa fa-play fa-2x"></i></label>
              </div>
              <div class="form-check form-check-inline" id="faCode" onchange=generateCode()>
                <input class="form-check-input" name="faCode" id="faCode3" type="radio" value="3">
                <label class="form-check-label" for="faCode3"><i class="fa fa-eye fa-2x"></i></label>
              </div>
              <div class="form-check form-check-inline" id="faCode" onchange=generateCode()>
                <input class="form-check-input" name="faCode" id="faCode4" type="radio" value="4">
                <label class="form-check-label" for="faCode4"><i class="fa fa-camera fa-2x"></i></label>
              </div>
            </div>
            </div>
          </div> 
          
<div class="col-lg-6 mt-2">
  <div class="sticky-top" style="top:100px;">
    <div class="row w-100">
      <div class="col-lg-2">
      <h5 class="font-weight-bold">Preview</h5>
      <div class="text-center mb-2 previewButton"> 
      <button type="button" class="btn btn-outline-dark" style="padding: .7rem;" id="togglePreviewFS" data-toggle="tooltip" data-placement="top" data-trigger="hover focus" title="Click to expand the preview to fullscreen. Click again or press Escape to return here to the editing screen."><i class="fa fa-fw fa-expand"></i></button>
       </div>
    </div>
      <div class="col-lg bg-white" id="previewFS">
      <div id="demo"></div>
      </div>
    </div>
          <hr>
       <h5 class="font-weight-bold">Copy code<span class="small text-success hideableinstruct" data-toggle="tooltip" data-placement="right" data-trigger="focus hover" title="Click this button to copy the code for your element ready for pasting in Moodle.">&nbsp;<i class="fa fa-question-circle"></i></span></h5>
       
       
        <textarea readonly class="rounded p-2 w-100 mt-2" id="txtarearespImg" cols="70" rows="3" name="Result" placeholder="Code for your element will appear here"></textarea>
        <input type="button" class="btn btn-lg btn-block btn-success mt-3" id="copyCodeBtn" name="GenerateWrap" value="Copy your code </>" onClick=copyCode() data-toggle="tooltip" data-placement="top" data-trigger="click focus" title="Your code has been copied." />
        <div class="text-center h5 mt-4">
          <a data-toggle="modal" data-target=".html-paste-modal" href="#">How do I paste this into Moodle?</a>
          </div>
        
        <!--<input type="button" class="btn btn-arts m-1" name="GenerateWrap" value="Write back to Moodle" onClick=writeinMoodle() >-->
    
      </div>
    </div>
    </form>

    <p class="my-3"></p>
  </div>

<script src="https://apis.google.com/js/client.js?onload=gapiLoaded"></script>
<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
<div id="beestFooter">
     <div class="py-5"></div>
</div>
</body>
</html>